body{
	font-family: sans-serif;
}
.cancelar{
	background-color:rgb(244,177,131);
    border-radius: 0.3125em;
    border-style: none;
    height: 1.875em;
    width: 14.0625em;
}
.cancelar:active{
	background-color: rgb(207,95,19);
}
.cancelar:hover{
	background-color:rgb(237,129,55);
}
.campoTexto {
    font-size: 1.2em;
    width: 35em;
}
.datoUsuario{
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 0.3125em;
	margin-top: 0.3125em;
}
#divGeneral{
	margin: auto;
	width: 100%;
}
#divLinea{
	border-bottom: 0.1875em solid rgb(0,176,240);
	clear: both;
}
#divTituloArchivo{
	float: left;
}
#divSalir{
	float: left;
}
#divSalir > div{
	align-items: center;
	display: flex;
  	justify-content: center;
}
#file_input{
	display:none;
}
.header{
	margin-left: 13em;
}
#imgFotoUsuario{
	width: 14%;
}
#imgLapiz{
	width: 3%;
}
#imgLapiz:active{
	background-color: rgb(171, 178, 185);
}
#imgLapiz:hover{
	background-color:rgb(214, 219, 223);
}
.imgLogo{
	width: 10%
}
.imgLogo2{
	width: 5%;
}
#imagenUsuario{
	height: 5em;
	width: 5em;
}
.lblEtiqueta{
	display: block;
	float: left;
	font-size: 1.2em;
	width: 6em;
}
.registrar{
	background-color: cadetblue;
    border-radius: 0.3125em;
    border-style: none;
    height: 1.875em;
    width: 14.0625em;
}
.registrar:active{
	background-color: rgb(60,75,216);
}
.registrar:hover{
	background-color:rgb(120,199,231);
}
@media only screen and (min-device-width: 250px) and (max-device-width: 700px) {
    .cancelar{
    	display: block;
    	margin-bottom: 1em;
		margin-top: 0.3125em;
	    padding: 0.625em;
	    width: 100%;
	}
	.header{
		margin-left: 2.1875em;
	}
	.imgLogo{
		width: 20%
	}
	.imgLogo2{
		width: 10%;
	}
	#imgFotoUsuario{
		width: 24%;
	}
	#imgLapiz{
		width: 6%;
	}
	.lblEtiqueta{
    	display: none;
    }
	.registrar{
	    display: block;
	    margin-top: 0.625em;
	    padding: 0.625em;
	    width: 100%;
	}
}

/*header*/

#divDatosUsuario{
	align-items: center;
	display: flex;
	float: right;
	justify-content: center;
}
#divLinea{
	clear: both;
	border-bottom: 0.1875em solid rgb(0,176,240);
}
#divNombreUsuario > div> label {
	font-size: 1.6em;	
	justify-content: center;
}
#divTituloArchivo{
	float: left;
}
#imagenUsuario{
	height: 5em;
	width: 5em;
}
@media only screen and (min-device-width: 250px) and (max-device-width: 700px) {
	#divNombreUsuario > div> label{
    	display: none;
    }
}