.body{
	margin: 0px 0px 0px 0px;
}
.boton{
	border-radius: 0.3125em;
	border-style: none;
	height: 1.875em;
}
.botonCancel{
	background-color: firebrick;
}
.botonCancel:hover{
	 background-color: brown;
}
.botonCancel:active {
    background-color: red;
}
.botonMed{
	width: 6.875em;
}
.botonMin{
	width: 3.75em;
}
.botonOk{
	background-color: cadetblue;
}
.botonOk:hover{
	background-color: cornflowerblue;
}
.botonOk:active{
	background-color: deepskyblue;
}
.botonReg{
	width: 14.0625em;
}
.fuente{
	font-family: Raleway, sans-serif;
}
.h{
	margin-bottom: 2.1875em;
}
.linea{
	display: inline;
}
.link{
	font-size: 0.7em;
	margin-top: 1.5625em;
}
.lista{
	list-style: none;
	list-style-position: inside;
	padding-left: 0px;
}
.logo{
	max-height: 4.375em;
	max-width: 4.375em;
}
.mensaje{
	color: brown;
	margin-top: 1.25em;
	text-align: center;
}
.uv{
	max-height: 3.75em;
}

/*Login*/

.campoTexto{
	font-size: 1em;
	height: 1.5625em;
}
.campoTextoMed{
	width: 13.75em;
}
.campoTextoMin{
	width: 8.125em;
}
.divTexto{
	margin-bottom: 0.625em;
}

/*Edición*/

.botones{
	bottom: 0.625em;
    position: fixed;
    right: 13.125em;
    text-align: right;
}
.chat{
	bottom: 0px;
	position: fixed;
	right: 0px;
	top: 6.25em;
	width: 12.5em;
}
.areaDocumento{
	bottom: 3.125em;
	left: 13em;
	position: fixed;
	right: 13.125em;
	top: 6.25em;
}
.edicion{
	bottom: 0px;
	left: 13em;
	position: fixed;
	right: 12.5em;
	top: 6.25em;
}
.enviar{
	bottom: 0.625em;
	position: fixed;
	right: 0px;
	text-align: right;
	width: 12.5em;
}
.mensajes{
	bottom: 3.125em;
	position: fixed;
	right: 0.625em;
	top: 6.25em;
	width: 11.875em;
}
.panel{
	float: right;
	height: 100%;
	margin-left: 13em;
	margin-top: 6.25em;
	position: fixed;
	width: 100%;
}

/*Menu*/

.bajo{
    bottom: 0px;
    position: absolute;
    width: 100%;
}
.cabeceraMenu{
	margin-left: 0.5em;
    margin-top: 0.5em;
}
.iconoOpcion{
	margin-right: 0.3125em;
    max-width: 1.5625em;
    max-height: 1.5625em;
}
.menu{
    background-color: whitesmoke;
    float: left;
    height: 100%;
    position: fixed;
    width: 13em;
}
.opcion{
	align-items: center;
	color: black;
	display: flex;
	padding-bottom: 0.3125em;
    padding-left: 0.625em;
    padding-right: 0.625em;
    padding-top: 0.3125em;
}
.opcion:hover{
    background-color: gainsboro;
}
.opcion:active{
    background-color: lightGray;
}
.opciones{
    margin-top: 20%;
}

/*Repositorio*/

.center{
	text-align: center;
}
.contenedor{
	display: grid | inline-grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 50% 50%;
}
.documento{
	background-color: whitesmoke;
	border-radius: 0.625em;
	display: inline-block;
	height: 10.625em;
	margin-left: 0.3125em;
	margin-right: 0.3125em;
	margin-bottom: 0.3125em;
	width: 6.875em;
}
.documento:hover{
    background-color: gainsboro;
}
.documento:active{
    background-color: lightGray;
}
.fecha{
	font-size: 0.6em;
	padding-left: 0.1875em;
	padding-right: 0.1875em;
	word-wrap: break-word;
}
.firmaErr{
	color: red;
}
.firmaOk{
	color: green;
}
.emisor{
	font-style: italic;
	font-size: 0.6em;
	padding-left: 0.1875em;
	padding-right: 0.1875em;
	word-wrap: break-word;
}
.icono{
	max-width: 5.625em;
	padding-top: 0.3125em;
}
.iconoItem{
	max-width: 3.4375em;
	padding-top: 0.3125em;
}
.item{
	background-color: whitesmoke;
	border-radius: 0.625em;
	color: black;
	display: inline-block;
	height: 5em;
	margin-left: 0.3125em;
	margin-right: 0.3125em;
	margin-bottom: 0.3125em;
	width: 5em;
}
.item:hover{
    background-color: gainsboro;
}
.item:active{
    background-color: lightGray;
}
.nombre{
	font-size: 0.8em;
	padding-left: 0.1875em;
	padding-right: 0.1875em;
	word-wrap: break-word;
}
.panelScroll{
	bottom: 0px;
	float: right;
	left: 13em;
	overflow-y: scroll;
	position: fixed;
	right: 0px;
	top: 6.25em;
}