@import url("estilos_repositorio.css");

@media only screen and (min-device-width: 250px) and (max-device-width: 700px) {
    .cabeceraMenu{
        margin-left: 0px;
    }
    .logo{
        max-height: 2.1875em;
        max-width: 2.1875em;
    }
    .menu{
        width: 2.1875em;
    }
    .opcion{
        padding-left: 0.3125em;
    }
    .textoOpcion{
        display: none;
    }
    .uv{
        display: none;
    }
}