@import url("estilos_repositorio.css");

@media screen and (max-width: 43.75em) {
    .uv{
        display: none;
    }
    .logo{
        max-width: 2.1875em;
        max-height: 2.1875em;
    }
    .textoOpcion{
        display: none;
    }
    .menu{
        width: 2.1875em;
    }
    .opcion{
        padding-left: 0.3125em;
    }
    .cabecera{
        margin-left: 0px;
    }
}