@media only screen and (min-device-width: 250px) and (max-device-width: 700px) {
    .cabecera {
        margin: 0 auto 0 auto;
        text-align: center;
    }
    .chat{
    	display: none;
    }
    .edicion{
    	bottom: 0px;
    	left: 2.1875em;
    	right: 0px;
    }
    .enviar{
    	display: none;
    }
    .mensajes{
    	display: none;
    }
    .vistaPrincipal{
        left: 2.1875em;
    }
}